@import '../../css/components/layout/header.css';
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}

html {
  font-size: 0.75vw;
}

@media (max-width: 1850px) {
  html {
    font-size: 1rem;
  }
}
li, a {
  text-decoration: none;
  list-style: none;
}

li:hover, a:hover {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 80% !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 95% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

body {
  background-color: rgb(1, 26, 0);
  width: 100%;
}
body .blurred-background {
  filter: blur(12px);
  opacity: 0.8;
}
body #root {
  min-height: 100vh;
}
body #root #main {
  color: white;
}
body #root #main #summary-tab {
  background-color: rgb(3, 22, 0);
  width: 60rem;
  height: 40rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  padding: 3rem;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.4);
}
body #root #main #summary-tab .items {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body #root #main #summary-tab .items .message {
  font-size: 2rem;
  font-weight: 900;
}
body #root #main #summary-tab .items .message--summary {
  font-size: 3.5rem;
}
body #root #main #summary-tab .items .message--new-game {
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.4);
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1em 2em;
  color: white;
  background-color: rgb(2, 14, 0);
  outline: none;
  border: none;
}
body #root #main #summary-tab .items .message--new-game:hover {
  color: yellow;
  transition: 0.3s;
  background-color: rgb(3, 20, 0);
}
body #root #main #summary-tab .items .message--card-value {
  font-weight: 500;
}
body #root #main #summary-tab .items .message--card-value p {
  margin: 0.5em 0 0;
}
body #root #main #add-money-tab {
  background-color: rgb(3, 22, 0);
  width: 60rem;
  height: 40rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  padding: 3rem;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.4);
}
body #root #main #add-money-tab .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
body #root #main #add-money-tab .items .title {
  font-size: 3rem;
  font-weight: 900;
}
body #root #main #add-money-tab .items .input {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
body #root #main #add-money-tab .items .add-money-btn {
  font-size: 2rem;
  font-weight: 700;
  width: 40%;
}
body #root #main #add-money-tab .items .add-money-btn:hover {
  color: yellow;
  transition: 0.3s;
  background-color: black;
}
body #root #main #start-game-tab {
  background-color: rgb(3, 22, 0);
  width: 60rem;
  height: 40rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  padding: 3rem;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.4);
}
body #root #main #start-game-tab .items {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
body #root #main #start-game-tab .items #player-total-money {
  font-size: 3rem;
  font-weight: 700;
}
body #root #main #start-game-tab .items .title {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.125rem;
}
body #root #main #start-game-tab .items .message--bet {
  font-weight: 700;
  font-size: 2rem;
}
body #root #main #start-game-tab .items .message--bet .text {
  margin-bottom: 4rem;
}
body #root #main #start-game-tab .items .message--bet .message--input {
  position: relative;
  height: 4rem;
  display: flex;
}
body #root #main #start-game-tab .items .message--bet .message--input .message--btn {
  height: 100%;
  padding: 0 1.5rem;
  outline: none;
  border: none;
  margin-left: 0.5rem;
  color: rgb(44, 44, 44);
  font-weight: 700;
}
body #root #main #start-game-tab .items .message--bet .message--input .message--btn:hover {
  color: yellow;
  transition: 0.3s;
  background-color: #1a1a1a;
}
body #root #main #start-game-tab .items .message--bet .message--input .input {
  width: 15rem;
  text-align: center;
}
body #root #main .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body #root #main .content .items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #root #main .content .items .row {
  width: 100%;
  margin-top: 10vh;
}
body #root #main .content .items .card-pile {
  height: 100%;
  display: flex;
  align-items: center;
}
body #root #main .content .items .card-pile .content {
  margin-left: 2rem;
  z-index: 100;
  position: relative;
  height: 18rem;
  width: 12rem;
}
body #root #main .content .items .card-pile .content .card {
  margin: 0;
  height: 18rem;
  width: 12rem;
}
body #root #main .content .items .card-pile .content #move-card {
  position: absolute;
  z-index: 99;
}
body #root #main .content .items .card-pile .content #top {
  z-index: 100;
}
body #root #main .content .items .card-pile .content .nbr-cards-left {
  margin: 0;
  z-index: 101;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.75);
}
body #root #main .content .items .card-list {
  background-color: rgb(1, 34, 0);
  width: 100%;
  display: flex;
  justify-content: center;
}
body #root #main .content .items .card-list .card-container {
  width: calc(100% - 4rem);
  height: 22rem;
  display: flex;
  align-items: center;
  position: relative;
}
body #root #main .content .items .card-sum {
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  background-color: #091b00;
  margin: 0 1rem;
  height: 18rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
body #root #main .content .items .card-pick {
  position: relative;
  height: 18rem;
  margin: 0 1rem;
}
body #root #main .content .items .card-pick .buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #root #main .content .items .card-pick .buttons .btn {
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.1s;
  width: 100%;
  background-color: rgb(0, 19, 1);
  font-size: 2rem;
  padding: 2rem;
  border-radius: 0;
  font-weight: 900;
  color: white;
}
body #root #main .content .items .card-col2 {
  background-color: rgb(1, 34, 0);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #root #main .content .items .card {
  height: 18rem;
  flex: 0 1 12rem;
  margin: 0 0.25rem;
  background-color: transparent;
}
body #root #main .content .items .card:first-of-type {
  margin-left: 0;
}
body #root #main .content .items .card:last-of-type {
  flex-shrink: 0;
  margin-right: 0;
}
body #root #main .content .items .card .card-img {
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  top: 0;
  left: 0;
  height: 18rem;
  width: 12rem;
}
body #root #main .content .items .align-center {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=index.css.map */